.conteiner{
    height: 100px;
    background-color: blue;
    background-image: url(img2/logo.svg);
    background-repeat: no-repeat; 
}



strong{
    color: aqua;
}
h4,h5{
    color: lightgray;
    margin: 0; 
}

.autori-foto{
    font-size: 12px;
}
.paragrafi{
  padding: 0px;
  margin: 0px;
}
 .titoli-finali{
     color: gray;
 }

 mark{
     background-color: yellow;
     
 }
.scritta-colorata{
    background-color: rgb(21, 131, 182);
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #74cdf0;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ecedee;
  }
  
  
  table {
    background-color: #74cdf0;
  }
 .immagine-1{
    margin: 0px;
    background-image: url('img2/monitor.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 300px;
    text-align: center;
    width: 250px;
    height: 220px
 }

 .immagine-2{
    margin: 0px;
    background-image: url('img2/graph.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 300px;
    text-align: center;
    width: 250px;
    height: 220px
 }

 